body {
    background:linear-gradient(#B6E2A1,white);
}
h1 {
    color:#285430;
}
h3 {
    color:#285430;
}
img {
    height:400px;
    width:300px;
}
hr {
    border-top-width: 2px;
    border-color: white;
    border-bottom-style:none;
}
